*{
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: #c78d58;
}

.white {
  background-color: #fef2cb;
}

.selected {
  background-color: #53b8e3;
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #08c065;
}

.player{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restart-btn{
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: white;
  font-weight: bold;
  border: black 2px solid;
  cursor: pointer;
}

.timer-header{
  margin-top: 10px;
}

.timer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  margin-bottom: 20px;
}

.mobile-lost-container{
  display: flex;
  flex-direction: row;
}

.lost-black {
  height: 100%;
  padding: 30px;
  margin-right: 30px;
  background-color: #ffffff;
  border: 3px solid black;
  color: black;
}

.lost-white {
  height: 100%;
  padding: 30px;
  margin-right: 30px;
  border: 3px solid black;
  background-color: #212121;
  color: white;
}

.lost-figures {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  cursor: pointer;
}

.lost-figures:hover {
  background-color: #c78d58;
}

/* Медиазапрос для мобильных устройств с максимальной шириной 768 пикселей */
@media screen and (max-width: 955px) {
  .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .player {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cell img {
    width: 48px;
    height: 48px;
    position: relative;
  }

  .black {
    background-color: #c78d58;
  }

  .white {
    background-color: #fef2cb;
  }

  .selected {
    background-color: #53b8e3;
  }

  .available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #08c065;
  }

  .timer-header{
    margin-top: 10px;
  }

  .timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .mobile-lost-container{
    display: flex;
    flex-direction: row;
  }

  .lost-white {
    margin-right: 0;
  }

  .lost-black {
    margin-right: 0;
  }

}

@media screen and (max-width: 530px) {
  .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .player {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .board {
    width: calc(40px * 8);
    height: calc(40px * 8);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .cell {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cell img {
    max-width: 32px;
    max-height: 32px;
    position: relative;
  }

  .restart-btn{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .timer-header{
    margin-top: 10px;
  }

  .timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .mobile-lost-container{
    display: flex;
    flex-direction: row;
  }

  .lost-white {
    margin-right: 0;
  }

  .lost-black {
    margin-right: 0;
  }
}